@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos opcionales para limpiar márgenes */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8fafc; /* Color de fondo suave */
}